.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.langsocials {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 32px 4em;
  align-items: center;
}
.languageBtn {
  background-color: transparent;
  border: 1px solid rgba(253, 205, 52, 1);
  border-radius: 40px;
  color: rgba(40, 39, 39, 1);
  font-size: 20px;
  font-family: Outfit;
  width: 120px;
  height: 40px;
  margin-right: 16px;
}
.social {
  width: 32px;
  height: 32px;
  margin: 0 16px;
}

.logo {
  height: 100%;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 180px;
  padding: 0 4em;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.navBtn {
  background-color: transparent;
  border-color: transparent;
  font-family: Inter;
  font-size: 2.2em;
  font-weight: 400;
  margin: 0 1em;
  align-items: center;
  justify-content: center;
  display: flex;
}
.donateBtn {
  background-image: url("/images/donate-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 2em;
  font-weight: 600;
  margin: 0;
  padding: 0 1em;
}
